<!DOCTYPE html>
<html>
  <head>
    <title>Page Title</title>
  </head>
  <body  >
    <h1>Welcome to J's TO-DO</h1>
    <p>Press a button!</p>
  
  <form action="/show" method="GET">
    <button type="submit" formaction="/show">
        Show Data
      </button>    
  </form>
  <button type="button" onclick=addFunc()>
    Add Data
  </button>
  <button type="button" onclick=editFunc()>
    Edit Data
  </button>
  <button type="button" onclick=delFunc()>
    Delete Data
  </button>

  <div id="Add" style="display:none">
    <form action="/" method="POST">
      <input name="Title" placeholder="Edit title here" />
      <input name="Description" placeholder="Edit description here"/>
      <button type="submit">Send data</button>
    </form>
  </div>

  <div id="Del" style="display:none">
    <form action="/del" method="POST">
      <input name="Id_del" placeholder="Edit ID here" />
      <button type="submit" >Send data</button>
    </form>
  </div>

  <div id="Edit" style="display:none">
    <form action="/edit" method="POST">
      <input name="Id_edit" placeholder="Edit ID here" />
      <input name="Title_edit" placeholder="Edit title here" />
      <input name="Description_edit" placeholder="Edit description here"/>
      <button type="submit">Send data</button>
    </form>
  </div>

  <div id='Msg'>
    <p>{{name}}</p>
  </div>

  <script src='scripts.js'></script>
  </body>
  
</html>
